<header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <img class="photoID" src="/images/photoID.png" />
    <h1>CHALLUT Nicolas</h1>
    <nav>
        <ul>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">À propos</a></li>
            <li><a routerLink="facesnaps" routerLinkActive="active">Portfolio</a></li>
            <li><a routerLink="resume" routerLinkActive="active">Parcour</a></li> <!-- Ajout du routerLink -->
            <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="extra" routerLinkActive="active">Extra</a></li> <!-- Ajout du routerLink -->
        </ul>
        <div>
            <a class="social-link" href="https://github.com/NicolasChallut" target="_blank">
                <img src="/images/github.png" alt="logo github">
            </a>
            <a class="social-link" href="https://www.linkedin.com/in/nicolas-challut-865b22270/" target="_blank">
                <img src="/images/image.png" alt="logo linkedIN">
            </a>
        </div>
    </nav>
</header>
