.fake-header {
    width: 160px;
  }
  
  .face-snap-card {
    box-sizing: border-box;
    width: 100%; /* Ajout d'une largeur complète pour les petits écrans */
    max-width: 600px; /* Limite la largeur maximale pour éviter les cartes trop larges */
    margin: 20px auto; /* Centrage de la carte avec un espace supérieur et inférieur */
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Ombre plus subtile */
    border-radius: 8px; /* Coins arrondis pour un effet plus moderne */
    background-color: #fff; /* Fond blanc pour la carte */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition douce pour le hover */
  
  
    img {
      width: 100%;
      border-radius: 8px; /* Arrondir les coins de l'image */
      object-fit: cover; /* Assure que l'image garde son ratio */
      margin-bottom: 15px;
    }
  
    h2 {
      margin-bottom: 10px;
      font-size: 24px;
      color: #333;
    }
  
    p {
      font-weight: 300;
      font-size: 16px;
      color: #555;
    }
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .snapped {
    background-color: rgba(144, 238, 144, 0.4); /* Couleur plus claire */
    color: darkgreen;
    padding: 10px;
    border-radius: 6px;
  
    button {
      box-shadow: 0 3px 7px lightgreen;
      color: darkgreen;
      padding: 10px 20px;
      background-color: transparent;
      border: 1px solid darkgreen;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        background-color: lightgreen;
      }
  
      &:active {
        box-shadow: 0 0 5px lightgreen;
      }
    }
  }
  
  .project {
    font-family: Arial, sans-serif;
    color: #333;
  
    h1 {
      font-size: 28px;
      margin-bottom: 10px;
      color: #007bff; /* Couleur bleue pour correspondre aux liens */
    }
  
    p {
      margin: 5px 0;
      line-height: 1.6; /* Ajoute une meilleure lisibilité */
    }
  
    h2 {
      font-size: 22px;
      margin-top: 20px;
    }
  
    ul {
      list-style-type: disc;
      padding-left: 20px;
  
      li {
        margin-bottom: 5px;
        font-size: 14px;
      }
    }
  
    a {
      text-decoration: none;
      color: #007bff;
      transition: color 0.2s ease;
  
      &:hover {
        text-decoration: underline;
        color: #0056b3;
      }
    }

    .logo{
      height: 20px;
    
    }
  }
  
  .technologie {
    background-color: #007BFF;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 1.2;
    margin: 3px 2px;
    display: inline-block;
    font-size: 12px; /* Taille du texte réduite pour un badge */
    text-transform: uppercase; /* Texte en majuscules pour un look moderne */
  }
  