.face-snap-card {
  box-sizing: border-box;
  width: 50%;
  margin: 20px auto;
  padding: 10px 30px;
  box-shadow: lightgray 4px 4px 20px;
  img {
    width: 100%;
  }
  h2 {
    margin-bottom: 0;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }
  
}

.snapped {
  background-color: rgba(lightgreen, 0.4);
  color: darkgreen;
  button {
    box-shadow: lightgreen 3px 3px 7px;
    color: darkgreen;
    &:active {
      box-shadow: lightgreen 0 0 5px;
    }
  }
}

.project {
  font-family: Arial, sans-serif;
  color: #333;

  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
  }

  h2 {
    font-size: 22px;
    margin-top: 20px;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    
    li {
      margin-bottom: 5px;
    }
  }

  a {
    text-decoration: none;
    color: #007bff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.technologie{
  background-color: #0ba376;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 1.2;
    margin: 3px 2px;
    width: 74px;
    list-style: none;
}