  

<div class="big_container">

  <div id="map" style="width: 100%; height: 400px;"></div>


  <div class="info-container">
    <div class="info-block">
      <i class="material-icons location">location_on</i>
      <h3>Passy</h3>
      <p>Marlioz / Haute-Savoie</p>
    </div>

    <div class="info-block">
      <i class="material-icons work">home_work</i>
      <h3>Travail</h3>
      <p>En présentiel ou en télétravail/Hybride</p>
    </div>

    <div class="info-block">
      <i class="material-icons check">check_circle</i>
      <h3>Disponible</h3>
      <p>À la recherche d'un emploi</p>
    </div>
  </div>

  <div class="contact-form-container">
    <h3>Vous souhaitez échanger? c'est par ici !</h3>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name"></label>
        <input id="name" formControlName="name" type="text" placeholder="Nom" />
        <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="error-message">
          Le nom est obligatoire.
        </div>
      </div>
  
      <div class="form-group">
        <label for="email"></label>
        <input id="email" formControlName="email" type="email" placeholder="Email" />
        <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="error-message">
          Entrez une adresse email valide.
        </div>
      </div>
  
      <div class="form-group">
        <label for="objet"></label>
        <input id="objet" formControlName="objet" type="text" placeholder="Objet du message" />
        <div *ngIf="contactForm.get('objet')?.invalid && contactForm.get('objet')?.touched" class="error-message">
          Renseignez l'objet de votre message.
        </div>
      </div>
  
      <div class="form-group">
        <label for="message"></label>
        <textarea id="message" formControlName="message" rows="5" placeholder="Votre message"></textarea>
        <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="error-message">
          Le message doit comporter au moins 10 caractères.
        </div>
      </div>
  
      <button type="submit" [disabled]="contactForm.invalid">Envoyer</button>
    </form>
  </div>
</div>

