<section class="parcours-professionnel">
    <h2>Parcours Professionnel</h2>
    
    <div class="experience">
        <h3>Opérateur machine polyvalent</h3>
        <p><strong>Société :</strong> SIMOND Chamonix</p>
        <p><strong>Période :</strong> Décembre 2019 à Septembre 2022</p>
        <p><strong>Description :</strong> Référent assemblage de la gamme Piolets pour une trentaine d'opérations et réglages.</p>
    </div>
    
    <div class="experience">
        <h3>Câbleur boîtier électrique</h3>
        <p><strong>Société :</strong> SEMER Chedde</p>
        <p><strong>Période :</strong> Septembre 2019 à Novembre 2019</p>
        <p><strong>Description :</strong> Préparation et réalisation d'ouvrages électriques.</p>
    </div>
    
    <div class="experience">
        <h3>Agent de Service Commercial des Trains</h3>
        <p><strong>Société :</strong> SNCF Chamonix</p>
        <p><strong>Période :</strong> Juin 2009 à Août 2018</p>
        <p><strong>Description :</strong> Premier maillon de la chaîne d'information.</p>
    </div>
    
    <div class="experience">
        <h3>Sauveteur aquatique</h3>
        <p><strong>Société :</strong> SDIS 73 Saint-Alban-Leysse</p>
        <p><strong>Période :</strong> Juin 2013 à Septembre 2016</p>
        <p><strong>Description :</strong> Pompier volontaire en poste de secours sur les plans d'eau de la Savoie.</p>
    </div>
    
    <div class="experience">
        <h3>Technicien vendeur</h3>
        <p><strong>Société :</strong> ARCS 2000 SPORT Valthorens</p>
        <p><strong>Période :</strong> Octobre 2012 à Avril 2013</p>
    </div>
</section>
