
    .container {
        display: flex;
        justify-content: space-between;  /* Centre le contenu principal */
        align-items: flex-start;
        min-height: 100vh;  /* Hauteur minimale de la page complète */
      }


