

<article class="about_container"> 
  <div class="face-snap-card">
    <section class="about">
      <h1>À propos de moi</h1>
      <p>
        Avec un parcours diversifié, je suis passionné par l'utilisation des technologies innovantes et la résolution créative de problèmes pour améliorer l'expérience utilisateur dans le développement web et mobile.
      </p>
      <p>
        En tant que développeur web certifiée, je maîtrise des technologies front-end et back-end telles que HTML, CSS, JavaScript et PHP, et j'ai de l'expérience en intégration de contenu et en conception d'applications.
      </p>
      <p>
        Je recherche actuellement des opportunités pour approfondir mes compétences en conception d'applications et contribuer à des projets impactants où je pourrai mettre à profit mes compétences techniques et mon expérience pour favoriser la collaboration et l'innovation.
      </p>
    </section>
    <div>
      <a href="/images/CV Web Developpeur.pdf" target="_blank">
        <button > 
          Download CV
          <i class="material-icons">download_for_offline</i>
        </button>
      </a>
      <a routerLink="contact">
      <button>
          Contact
          <i class="material-icons">contact_page</i>
        </button>
    </a>
    </div>
     
  </div>
</article>
<article class="skills">
  <h1>Mes Compétences</h1>

  <section class="web-development">
    <h2>
      <img src="/favicon.ico" class="icon">
      ngular
    </h2>
    <p>
      Création de composants réutilisables, intégration d'API, gestion de la navigation et des formulaires, optimisation des performances, et intégration de bibliothèques externes comme Google Maps, avec un design responsive axé utilisateur et les languages comme Typescript et Scss.
    </p>
  </section>

  <section class="web-development">
    <h2>
      <i class="material-icons">language</i>
      Développement Web
    </h2>
    <p>
      Création de sites, pages d'atterrissage, et fonctionnalités spéciales telles que des sliders, filtres, et popups. Je conçois et personnalise des thèmes WordPress, intègre des contenus personnalisés et crée des designs responsives pour une meilleure expérience utilisateur.
    </p>
  </section>

  <section class="debugging">
    <h2>
      <i class="material-icons">bug_report</i>
      Débogage
    </h2>
    <p>
      Résolution de bogues WordPress incluant la restauration d'accès ou la correction de style. Je m'efforce d'identifier les problèmes, de tester les solutions et d'apporter des résolutions durables pour assurer le bon fonctionnement de votre site.
    </p>
  </section>

  <section class="optimizations">

    <h2>
      <i class="material-icons">trending_up</i>
      Optimisations
    </h2>
    <p>
      Optimisation SEO avec l'utilisation de mots-clés stratégiques et d'outils comme YoastSEO pour améliorer la visibilité de votre site. J'améliore également les performances à l'aide de Google Lighthouse, en compressant les images, en gérant les plugins, et en réduisant les appels tiers.
    </p>
  </section>
</article>
